<div class="row" data-hook="supplier_form_fields">
  <div data-hook="supplier_address_wrapper" class="col-md-6">
    <fieldset class="no-border-bottom">
      <h2>Contact Address</h2>

      <%= form.fields_for :address do |contact_form| %>
        <%= render partial: 'spree/admin/shared/address_form', locals: { f: contact_form, name: 'Contact Address', type: 'shipping' } %>
      <% end %>
    </fieldset>
  </div>

  <div data-hook="supplier_details_wrapper" class="col-md-6">
    <fieldset class="no-border-bottom">
      <h2>Supplier Details</h2>

      <%= form.field_container :name, class: ['form-group'] do %>
        <%= form.label :name, 'Name' %>
        <%= form.text_field :name, class: 'form-control' %>
      <% end %>

      <%= form.field_container :email, class: ['form-group'] do %>
        <%= form.label :email, 'Email' %>
        <%= form.email_field :email, class: 'form-control' %>
        <%= error_message_on :user, :email %>
      <% end %>

      <%= form.field_container :url, class: ['form-group'] do %>
        <%= form.label :url, 'URL' %>
        <%= form.text_field :url, class: 'form-control' %>
      <% end %>

      <%= form.field_container :tax_id, class: ['form-group'] do %>
        <%= form.label :tax_id, 'Tax ID' %>
        <%= form.text_field :tax_id, class: 'form-control' %>
      <% end %>

      <% if spree_current_user.admin? %>
        <%= form.field_container :commission_flat_rate, class: ['form-group'] do %>
          <%= form.label :commission_flat_rate, 'Commission Flat Rate' %>
          <%= form.text_field :commission_flat_rate, class: 'form-control' %>
        <% end %>

        <%= form.field_container :commission_percentage , class: ['form-group'] do %>
          <%= form.label :commission_percentage, 'Commission Percentage' %>
          <%= form.text_field :commission_percentage, class: 'form-control' %>
        <% end %>

        <%= form.field_container :users, class: ['form-group'] do %>
          <%= form.label :users, 'Users' %>
          <%= hidden_field_tag 'supplier[user_ids_string]', form.object.user_ids.join(','), class: 'user_picker' %>
        <% end %>

        <%= form.field_container :active, class: ['form-group'] do %>
          <div class="checkbox">
            <%= label_tag :active do %>
              <%= form.check_box :active %> Active
            <% end %>
          </div>
        <% end %>
      <% end %>
    </fieldset>
  </div>
</div>