<% provide(:page_title, 'Listing Shipments') %>
<% provide(:table_filter_title, 'Search') %>

<% content_for :table_filter do %>
  <div data-hook="admin_shipments_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="date-range-filter col-md-6">
          <div class="form-group">
            <%= label_tag :q_created_at_gt, Spree.t(:date_range) %>
            <div class="row">
              <div class="col-md-6">
                <%= f.text_field :created_at_gt, :class => 'datepicker datepicker-from form-control', :value => params[:q][:created_at_gt], placeholder: Spree.t(:start) %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :created_at_lt, :class => 'datepicker datepicker-to form-control', :value => params[:q][:created_at_lt], placeholder: Spree.t(:stop) %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag nil, 'Shipment Number' %>
            <%= f.text_field :number_cont , class: 'form-control js-quick-search-target'%>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag nil, 'Status' %><br/>
            <%= f.select :state_eq, Spree::Shipment.state_machines[:state].states.collect {|s| [Spree.t("shipment_states.#{s.name}"), s.value]}, { include_blank: true }, class: 'select2' %>
          </div>
        </div>
      </div>

      <div data-hook="admin_shipments_index_search_buttons" class="form-actions">
        <%= button Spree.t(:filter_results), 'Search' %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @shipments } %>

<% unless @shipments.empty? %>
  <table class="table" id="listing_shipments" data-hook>
    <thead>
      <tr data-hook="admin_orders_index_headers">
        <th><%= sort_link @search, :created_at, 'Created at' %></th>
        <th><%= sort_link @search, :number, 'Number' %></th>
        <th><%= sort_link @search, :state, 'State' %></th>
        <th><%= sort_link @search, :item_cost, 'Item Cost' %></th>
        <th><%= sort_link @search, :shipping_total, 'Shipping Total' %></th>
        <th><%= sort_link @search, :tax_total, 'Tax Total' %></th>
        <th><%= sort_link @search, :total, 'Total' %></th>
        <th><%= sort_link @search, :supplier_commission, 'Supplier Commission' %></th>
        <th data-hook="admin_shipments_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @shipments.each do |shipment| %>
        <tr data-hook="admin_shipments_index_rows" class="state-<%= shipment.state.downcase %> <%= cycle('odd', 'even') %>">
          <td><%= l shipment.created_at.to_date %></td>
          <td><%= link_to shipment.number, spree.edit_admin_shipment_path(shipment) %></td>
          <td><span class="state <%= shipment.state.downcase %>"><%= Spree.t("shipment_states.#{shipment.state.downcase}") %></span></td>
          <td> <%= shipment.display_item_cost.to_html %></td>
          <td><%= shipment.display_cost.to_html %></td>
          <td><%= Spree::Money.new(shipment.tax_total, currency: shipment.currency).to_html %></td>
          <td><%= Spree::Money.new(shipment.final_price_with_items, currency: shipment.currency).to_html %></td>
          <td><%= Spree::Money.new(shipment.supplier_commission, currency: shipment.currency).to_html %></td>
          <td data-hook="admin_shipments_index_row_actions" class="text-right">
            <%= link_to_edit_url spree.edit_admin_shipment_path(shipment), title: "admin_edit_#{dom_id(shipment)}", no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::Shipment.model_name.human(count: :many)) %>
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @shipments } %>
